/*Behold! The great CSS reset!*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*fonts and stuff */
.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  

/*main page styling*/
/*
  #023020 dark green
  #228B22 forrest green
*/
#main_div {
    width: 100%;
    height: 100%;
}
#body_div {
    border-top: 2px solid #228B22;
}
body {
    background-color: black;

    background-image: url("../img/uss_voyager_ascii.png");
    background-repeat: cover;
    background-size: 100%;
}

/*header styling */

#header_div {
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #228B22;
    background: rgba(0, 0, 0, 80%);
}

#header_div_h1 {
    font-size: 26pt;
}

#header_div_nav {
    font-size: 31pt;
    margin-left: auto;
    display: flex;
    padding: 5px;
    margin-right: 50px;
}

li {
    padding: 00px 5px;
}
.buttons:hover {
    color: red;
    cursor: pointer;
}

.header_div_nav_item {
    padding: 0px 5px;
}

/*Main Div styling*/
#body_div {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #228B22;
}

#content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#terminal {
    border-style: solid;
    border-color: #228B22;
    border-width: 2px;
    background: rgba(0, 0, 0, 90%);
    color: #228B22;
    width: 65%;
    height: 775px;
    overflow-y: auto;
    margin-top: 5px;
    overflow: hidden;
}

#terminal iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#player {
    border-style: solid;
    border-color: #228B22;
    border-width: 2px;
    background: rgba(0, 0, 0, 80%);
    color: #228B22;
    padding: 10px;
    width: 65%;
    height: 55px;
    overflow-y: auto;
    margin-top: 10px;
    overflow: hidden;

    display: flex;
    align-items: center;
    font-size: 22px;
    text-align: center;
}
hr {
    height: 100%;
    padding: 0;
    margin: 0;
    color: #228B22;
}
#player_controls {
    flex: 1;
    padding: 5px;
    font-size: 30px;
}
#player_name {
    flex: 2;
    padding: 5px;
    font-size: 30px;
}
#player_icon {
    flex: 1;
    padding: 5px;
}

.player_control_buttons:hover {
    cursor: pointer;
    color: red;
}





.slider {
    padding: 0px 10px;
    width: 100%;
    position: relative;
    user-select: none;
  }
  
  .slider-track {
    position: relative;
    height: 6px;
    background: #030e03;
  }
  
  .slider-fill {
    position: absolute;
    height: 100%;
    background: #228B22;
    width: 30%;
  }
  
  .slider-thumb {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    background: #228B22;
    cursor: pointer;
    left: 40%;
  }
  
  /* Hide native input but keep it accessible */
  .slider-input {
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
  }



@media screen and (max-width: 900px) {
    #terminal {
        width: 95%;
    }
    #player {
        width:95%;
    }
}

@media screen and (max-width: 500px) {
    #terminal {
        width: 100%;
    }
    #player {
        width:100%;
        height: 85px;
    }
    #player_controls {
        flex: 1;
        padding: 5px;
        font-size: 22px;
    }
    #player_name {
        flex: 2;
        padding: 5px;
        font-size: 22px;
    }
    #player_icon {
        flex: 1;
        padding: 5px;
    }

    #header_div_h1 {
        font-size: 18pt;
    }
    
    #header_div_nav {
        font-size: 13pt;
        margin-left: auto;
        display: flex;
        padding: 5px;
        margin-right: 5px;
    }
    #cursor {
        visibility: hidden;
    }
}

#cursor {
    font-size: 16px;
    animation: blink 1.1s steps(1) infinite;
}  
    @keyframes blink {
    50% {
        opacity: 0;
    }
}